# <span style="color:red;">Beginner's Guide to Database Programming with Python using ```PyMySQL```</span>

**Prerequisites:**    
- **Python** installed on your machine.
- **MySQL Server** running with a user account created.
- **PyMySQL** library installed. You can install it using pip:
    - ```pip install pymysql```

### 1. Introduction to Databases and SQL     
Databases are **collections of data organized** for **easy access**, **management** and **updating**.      
A **Relational Database stores data** in **tables (rows and columns)**.    
**SQL (Structured Query Language)** is a standard language to manage and manipulate databases.    

**Some common SQL commands include:**
- **SELECT:** Retrieves data.
- **INSERT:** Adds new data.
- **UPDATE:** Modifies existing data.
- **DELETE:** Removes data.

### **2. Connecting to a MySQL Database using Python**

```python
import pymysql

# Database connection details
db = pymysql.connect(
    host="localhost",     # MySQL host (use IP if remote)
    user="root",          # Your MySQL username
    password="password",  # Your MySQL password
    database="test_db"    # Database name you want to connect to
)

# Create a cursor object to interact with the database
cursor = db.cursor()

# Check connection
if db.open:
    print("Connection successful!")
else:
    print("Connection failed!")

# Always close the connection when done
db.close()
```

### **3. Executing SQL Queries and Fetching Results**    
Once you have a connection, you can execute SQL queries using the cursor object. Let’s start by fetching some data from a table.

**i. Create a Sample Table**   
```python
CREATE TABLE students (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    age INT,
    gender CHAR(1)
);
```

**ii. Fetching Data using Python**     

```python
import pymysql

db = pymysql.connect(host="localhost", user="root", password="password", database="test_db")
cursor = db.cursor()

# Execute SQL query
query = "SELECT * FROM students"
cursor.execute(query)

# Fetch all the rows
results = cursor.fetchall()

# Print fetched results
for row in results:
    print(f"ID: {row[0]}, Name: {row[1]}, Age: {row[2]}, Gender: {row[3]}")

# Close the connection
db.close()
```
<br>

**Output:**     

```python
ID: 1, Name: John Doe, Age: 20, Gender: M
ID: 2, Name: Jane Smith, Age: 22, Gender: F
```

### 4. CRUD Operations (Insert, Update, Delete)      
Let's dive into the four primary database operations: Create (Insert), Read (Select), Update, and Delete.

**i. Inserting Data**    

```python
db = pymysql.connect(host="localhost", user="root", password="password", database="test_db")
cursor = db.cursor()

# SQL Insert statement
query = "INSERT INTO students (name, age, gender) VALUES (%s, %s, %s)"
data = ("Alice Johnson", 23, "F")

try:
    cursor.execute(query, data)
    db.commit()  # Commit the transaction
    print("Record inserted successfully")
except Exception as e:
    db.rollback()  # Rollback in case of error
    print(f"Error: {e}")

db.close()
```

<br>

**In this code:**     
- **%s** is a **placeholder for the values** that will be passed in the data tuple.
- The values in the data tuple ("Alice Brown", 21, "F") are inserted into the students table

<u>**Inserting Multiple Rows of Data:**</u>    
To insert multiple rows in one go, you can use the **executemany()** method, which allows you to insert multiple rows efficiently.    

**Inserting Multiple Rows**
Let's say you have a list of students and you want to insert all of them into the students table.    

```python
import pymysql

# Establish database connection
db = pymysql.connect(host="localhost", user="root", password="password", database="test_db")
cursor = db.cursor()

# SQL query to insert multiple rows
query = "INSERT INTO students (name, age, gender) VALUES (%s, %s, %s)"

# List of tuples containing data for multiple rows
data = [
    ("Bob White", 19, "M"),
    ("Carol King", 23, "F"),
    ("David Green", 22, "M"),
    ("Eve Adams", 20, "F")
]

try:
    cursor.executemany(query, data)  # Insert multiple rows at once
    db.commit()  # Commit the transaction
    print(f"{cursor.rowcount} records inserted successfully")
except Exception as e:
    db.rollback()  # Rollback in case of error
    print(f"Error: {e}")

# Close the connection
db.close()
```

<u>**Storing Rows Using Data from a List**</u>     
If you have data in a list (or a list of lists) and want to insert it into the database, you can follow a similar approach.      
Here’s an example where each row of data is stored in a list:   

**Inserting Rows from a List of Lists**     
Let’s say you have the following data in a list of lists:

```python
students_data = [
    ["John Doe", 20, "M"],
    ["Jane Smith", 22, "F"],
    ["Alice Brown", 21, "F"],
    ["Bob White", 19, "M"]
]
```
<br>

```python
import pymysql

# Establish database connection
db = pymysql.connect(host="localhost", user="root", password="password", database="test_db")
cursor = db.cursor()

# SQL query to insert multiple rows
query = "INSERT INTO students (name, age, gender) VALUES (%s, %s, %s)"

# List of lists containing student data
students_data = [
    ["John Doe", 20, "M"],
    ["Jane Smith", 22, "F"],
    ["Alice Brown", 21, "F"],
    ["Bob White", 19, "M"]
]

try:
    cursor.executemany(query, students_data)  # Insert multiple rows using a list of lists
    db.commit()  # Commit the transaction
    print(f"{cursor.rowcount} records inserted successfully")
except Exception as e:
    db.rollback()  # Rollback in case of error
    print(f"Error: {e}")

# Close the connection
db.close()
```

**ii. Updating Data**    
You can update existing records in the database using the UPDATE query.

```python
db = pymysql.connect(host="localhost", user="root", password="password", database="test_db")
cursor = db.cursor()

# SQL Update statement
query = "UPDATE students SET age = %s WHERE name = %s"
data = (24, "Alice Johnson")

try:
    cursor.execute(query, data)
    db.commit()  # Commit the transaction
    print("Record updated successfully")
except Exception as e:
    db.rollback()  # Rollback in case of error
    print(f"Error: {e}")

db.close()
```

**iii. Deleting Data**    
To remove records, we use the DELETE statement.

```python
db = pymysql.connect(host="localhost", user="root", password="password", database="test_db")
cursor = db.cursor()

# SQL Delete statement
query = "DELETE FROM students WHERE name = %s"
data = ("Alice Johnson",)

try:
    cursor.execute(query, data)
    db.commit()  # Commit the transaction
    print("Record deleted successfully")
except Exception as e:
    db.rollback()  # Rollback in case of error
    print(f"Error: {e}")

db.close()
```

**5. Working with Transactions and Database Connections**      
A **transaction** is a **sequence of one or more SQL operations (like INSERT, UPDATE, DELETE)** that are **executed as a single unit of work**.    
The key point about a transaction is that it ensures ACID properties:


Transactions ensure that a sequence of database operations is completed successfully.   
If an error occurs, changes can be rolled back, preserving data integrity.

```python
db = pymysql.connect(host="localhost", user="root", password="password", database="test_db")
cursor = db.cursor()

try:
    # Start transaction
    cursor.execute("UPDATE students SET age = 25 WHERE name = 'John Doe'")
    cursor.execute("DELETE FROM students WHERE name = 'Jane Smith'")
    
    # Commit the changes
    db.commit()
    print("Transaction successful!")
except Exception as e:
    # Rollback the transaction in case of error
    db.rollback()
    print(f"Transaction failed, rolled back: {e}")

db.close()
```

**Closing the Connection:**       
Always close the database connection when you’re done to free up resources:    

```python
db.close()
```